@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');

*{
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#heading_frontend{
  margin-top: 170px;
}

/* #btn{
  color:rgb(40, 184, 40);
} */


/* start of genId add land style */
.form-modalID{
  position:relative;
  width:1000px;
  height:auto;
  margin-top:6em;
  margin-bottom: 4em;
  left:50%;
  transform:translateX(-50%);
  background:#fff;
  border:1px solid rgb(40, 184, 40);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1);
  
  
}

.form-modalID button{
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-size:1em;
  z-index: 2;
  outline: none;
  background:#fff;
  transition:0.2s;
}

.form-modalID .btn{
  border-radius: 10px;
  border:1px solid green;
  font-weight: bold;
  font-size:1.2em;
  padding:0.8em 1em 0.8em 1em!important;
  transition:0.5s;
  border:1px solid #ebebeb;
  margin-bottom:0.5em;
  margin-top:0.5em;
}

.form-modalID .login , .form-modal .signup{
  background:#33cc99;
  color:#fff;
}
.form-modal .login:hover , .form-modal .signup:hover{
  background:#222;
}

.form-toggle{
  position: relative;
  width:100%;
  height:auto;
}
.form-toggle button{
  width:50%;
  float:left;
  padding:1.5em;
  margin-bottom:1.5em;
  border:none;
  transition: 0.2s;
  font-size:1.1em;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.form-toggle button:nth-child(1){
  border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2){
  border-bottom-left-radius: 20px;
}

.form-toggle{
  position: relative;
  width:100%;
  height:auto;
}

.form-modalID form{
  position: relative;
  width:90%;
  height:auto;
  left:50%;
  transform:translateX(-50%);  
}

#genIdform{
  position:relative;
  width:100%;
  height:auto;
 /* margin-left: 110px; */
}
 #addlandform{
  position:relative;
  width:100%;
  height:auto;
  padding-left: 10px;
  padding-right: 10px;
}


#id-toggle{
  background:#33cc99;
  color:#ffff;
}

#addLand{
  display: none;
}

#genIdform button , #addlandform button{
  width:100%;
  margin-top:0.5em;
  padding:0.6em;
}

.form-modalID input{
  position: relative;
  width:100%;
  font-size:1em;
  padding:1.2em 1.7em 1.2em 1.7em;
  margin-top:0.6em;
  margin-bottom:0.6em;
  border-radius: 20px;
  border:none;
  background:#ebebeb;
  outline:none;
  font-weight: bold;
  transition:0.4s;
}

.form-modalID input:focus , .form-modalID input:active{
  transform:scaleX(1.02);
}

.form-modalID input::-webkit-input-placeholder{
  color:#A9A9A9;
}


.form-modalID p{
  font-size:16px;
  font-weight: bold;
}

.form-modalID p a{
  color:#33cc99;
  text-decoration: none;
  transition:0.2s;
}

.form-modalID p a:hover{
  color:#222;
}


.form-modalID i {
  position: absolute;
  left:10%;
  top:50%;
  transform:translateX(-10%) translateY(-50%); 
}


.-box-sd-effect:hover{
  box-shadow: 0 4px 8px hsla(210,2%,84%,.2);
}

@media only screen and (max-width:500px){
  .form-modalID{
      width:100%;
  }
}

@media only screen and (max-width:400px){
  i{
      display: none!important;
  }
}
#h1 {
  margin-top: 100px;
  color:#33cc99;  
  font-size: 45px;
  text-align: center;
}

h3 {
  color:#33cc99;
  font-size: 25px;
  text-align: center;
}

.custom {
  border-radius:20px;
  border:none;
  font-weight: bold;
  font-size:1.0em;
  padding:0.8em 1em 0.8em 1em!important;
  transition:0.5s;
  border:1px solid #ebebeb;
  margin-bottom:0.5em;
  margin-top:0.5em;
  align-self: center;
  /* align-content: right; */

}

/* end of add land and gen ID */




/* start of Add Admin */

.form-modal{
  position:relative;
  width:800px;
  height:auto;
  margin-top:6em;
  left:50%;
  transform:translateX(-50%);
  background:#fff;
  border:1px solid rgb(40, 184, 40);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1)
}
.form-modal button{
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-size:1em;
  z-index: 2;
  outline: none;
  background:#fff;
  transition:0.2s;
}


.form-modal .btn{
  border-radius: 20px;
  border:none;
  font-weight: bold;
  font-size:1.2em;
  padding:0.8em 1em 0.8em 1em!important;
  transition:0.5s;
  border:1px solid #ebebeb;
  margin-bottom:0.5em;
  margin-top:0.5em;
}

.form-modal .login , .form-modal .signup{
  background:#33cc99;
  color:#fff;
}

.form-modal .login:hover , .form-modal .signup:hover{
  background:#222;
}


.form-togglen{
  position: relative;
  width:100%;
  height:auto;  
}


.form-togglen button{
  width:100%;
  float:left;
  padding:1.5em;
  margin-bottom:1.5em;
  border:none;
  transition: 0.2s;
  font-size:1.1em;
  font-weight: bold;
  background: #33cc99;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}



#admin-toggle{
  background:#33cc99;
  color:#ffff;
}

.form-modal form{
  position: relative;
  width:90%;
  height:auto;
  left:50%;
  transform:translateX(-50%);  
}

/* #man-form , #dep-form{
  position:relative;
  width:100%;
  height:auto;
} */

/* #dep-form{
  display: none;
} */

#ad-form{
  width:100%;
  height:auto;
  padding-left: 10px;
  }
/* #man-form button , #dep-form button{
  width:100%;
  margin-top:0.5em;
  padding:0.6em;
} */

.form-modal input{
  position: relative;
  width:100%;
  font-size:1em;
  padding:1.2em 1.7em 1.2em 1.7em;
  margin-top:0.6em;
  margin-bottom:0.6em;
  border-radius: 20px;
  border:none;
  background:#ebebeb;
  outline:none;
  font-weight: bold;
  transition:0.4s;
}

.form-modal input:focus , .form-modal input:active{
  transform:scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder{
  color:#A9A9A9;
}


.form-modal p{
  font-size:16px;
  font-weight: bold;
}

.form-modal p a{
  color:#33cc99;
  text-decoration: none;
  transition:0.2s;
}

.form-modal p a:hover{
  color:#222;
}


.form-modal i {
  position: absolute;
  left:10%;
  top:50%;
  transform:translateX(-10%) translateY(-50%); 
}

/* #admin{
  margin-top: 180px;
} */
/* #adminheading{
  text-align: center;
  margin-top: 5em;
} */
.form-modalview{
  position:relative;
  width:1000px;
  height:auto;
  margin-top:6em;
  margin-bottom: 4em;
  left:50%;
  transform:translateX(-50%);
  background:#fff;
  border:1px solid rgb(40, 184, 40);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow:0 3px 20px 0px rgba(0, 0, 0, 0.1);
  
  
}

#viewform #viewData{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#viewform #viewData td,#viewData td{
  border: 1px solid #ddd;
  padding: 8px;
}
